<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span>Angular Crud Material UI</span>
  <span class="example-spacer"></span>
  <div class="example-button-container">

    <!-- toggle modal -->
    <button (click)="openDialog()" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
      <mat-icon>note_add</mat-icon>
    </button>
  </div>

</mat-toolbar>